.formCard {
    width: 60em;
    margin: auto;
    padding: 2em;
}

.textField {
    width: 20em;
}

.linkField {
    width: 40em;
}

.selectField {
    width: 15em;
}

.center {
    text-align: center;
    margin: auto;
}

.pageTitle {
    padding: 4em;
}

.submitButton {
    width: 15em;
    margin: auto;
    margin-bottom: 1em;
}

.newNoteCard {
    width: 55em;
    margin: auto;
}

.newNoteCardInputs {
    padding: 2em;
}